@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(33, 79%, 55%);
}

::-webkit-scrollbar-thumb {
  background: hsl(210, 100%, 5%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(210, 100%, 7%, 0.774);
}
body {
  background: hsl(209, 100%, 10%);
  color: hsl(33, 84%, 59%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#title {
  margin-top: 30px;
  width: 100%;
  height: 10vh;
  font-size: 36px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.clock {
  font-size: 15rem;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.clock input {
  font-size: 5rem;
  width: 80%;
  background: transparent;
  border: none;
  text-align: center;
  outline: none;
  color: hsl(33, 79%, 55%);
  margin-bottom: 3%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.start-stop-btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  background: hsl(33, 84%, 59%);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background: hsl(33, 79%, 55%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#time::after {
  content: "Time left...";
  color: hsla(33, 84%, 59%, 0.733);
  position: absolute;
  font-size: 1.4rem;
  transform: translateY(2vh);
}
.banner {
  position: fixed;
  z-index: 3;
  color: white;
  top: -12vh;
  font-size: 2rem;
  transition: 0.3s;
  min-width: 40%;
  width: auto;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 10px !important;
}
.banner span {
  font-family: "Inconsolata", monospace;
}
.alert {
  background: #cc3300;
}
.success {
  background: #339900;
}
.reset {
  background: #ffcc00;
}
.stop {
  background: #ffcc00;
}
.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-delay: 0.4s;
}

#information {
  width: 100%;
  height: 5vh;
  background: hsl(33, 79%, 55%);
  color: hsl(209, 100%, 10%);
  position: fixed;
  bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#information a,
#information span {
  color: hsl(209, 100%, 10%);
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#information a svg {
  margin: 0 4px;
}
#information a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
#instruction {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  margin: 30px 0 0 15px;
  width: 40px;
  height: 40px;
  border: 2px solid hsl(33, 79%, 55%);
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

#instruction span {
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
}
#steps {
  position: fixed;
  left: -100%;
  top: -100%;
  margin: 50px;
  z-index: 3;
}
.active {
  top: 0 !important;
  left: 0 !important;
}
#steps ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 14vw;
}
#steps ul li {
  font-family: "Inconsolata", monospace;
  list-style: none;
  z-index: 2;
  font-size: 1.2rem;
  background: hsl(211, 100%, 8%);
  padding: 9px;
}

@media (max-width: 1050px) {
  #steps ul {
    width: 16vw;
  }
}
@media (max-width: 786px) {
  #title {
    font-size: 2.2rem;
    text-align: center;
  }
  #time {
    font-size: 7rem;
  }
  #userInput {
    font-size: 2rem;
  }
  #time::after {
    transform: translateY(-2vh);
    font-size: 1.5rem;
  }
  .start-stop-btn {
    flex-direction: column;
  }
  #start {
    margin-bottom: 5vh;
  }
  .banner {
    font-size: 1.6rem;
  }
  #steps ul {
    width: 18vw;
  }
}
@media (max-width: 700px) {
  #steps ul {
    width: 30vw;
  }
  /* #title {
    margin-top: 20px;
  } */
  #instruction {
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
    margin: 0 10px 6vh 0;
  }
}
@media (max-width: 485px) {
  #title {
    font-size: 2rem;
    text-align: center;
    margin-top: 6vh;
  }
  #time {
    font-size: 7rem;
  }
  #userInput {
    font-size: 2rem;
  }
  #time::after {
    transform: translateY(-2vh);
    font-size: 1.2rem;
  }
  .start-stop-btn {
    flex-direction: column;
  }
  #start {
    margin-bottom: 5vh;
  }
  .banner {
    font-size: 1.3rem;
  }
  #steps ul {
    width: 40vw;
  }
  #steps {
    width: 100vw;
    margin: 0;
  }
  #steps ul {
    width: 100vw;
    margin: 0;
  }
  #steps ul li {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 400px) {
  #title {
    font-size: 24px;
    text-align: center;
  }
  #time {
    font-size: 48px;
  }
  #userInput {
    font-size: 20px;
  }
  #time::after {
    transform: translateY(-2vh);
    font-size: 1rem;
  }
  .start-stop-btn {
    flex-direction: column;
  }
  #start {
    margin-bottom: 5vh;
  }
  .banner {
    font-size: 1rem;
  }

}
/* ----------------------------------------------
 * Generated by Animista on 2021-9-23 23:57:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
